/* See digger.css for overriding main element definitions including */
/* A:link/visited/active/hover img button etc */
html { border:0; }
body { padding:0; border:0; }

/* hub site defs. */
#sitebodycontentdiv { position:relative; } /*zero height anchor div*/
#sitecontentdiv, #hpgoverlaydiv { position:absolute; top:0px; left:0px;
  right:0px; max-height:100vh; overflow:scroll; }
#sitecontentdiv { height:100vh; background:#ffc2a4;
  background:linear-gradient(#ffc2a4, #ff9c6b); }
#sitecontentinnerdiv { 
  background-image:url("../img/bglogo.png");
  background-repeat:no-repeat; background-size:contain;
  background-position: 5% 60px;
  background-attachment: fixed; }
#logodiv { float:left; }
#logodiv img { max-height:64px; }

h2 { text-align:center; }
h3 { font-weight:normal; text-align:center; margin-bottom:0px; }

.tcgcinactive { opacity:0.5; }

#contactdiv { width:100%; height:30px; background:#ffc2a4;
  font-size:small; text-align:center; margin:10px 0px 0px 0px; }
#contactdiv a { display:inline-block; padding:10px 0px; }

.textsectionspacerdiv { height:42px; }
#toptextdiv { min-height:44px;  /* logodiv h - textcontentdiv pad */
  display:flex; flex-direction:column; justify-content:space-around; }
.textcontentdiv, .textcontentctrdiv { margin:0px 10px 10px 10px; padding:10px;
  font-size:large; color:#663922; text-shadow: 0.5px 0.5px 1px #37190a;
  word-spacing:0.4ch; }
.textcontentctrdiv { text-align:center; }
.textcontentdiv p { margin:0px 0px 18px 0px; }
.boxedcontentdiv { background-image:url("../img/white60percent.png");
  border-radius:14px; text-align:left; word-spacing:normal; }
.convocontentdiv { font-style:italic; }

/* -------------------- */
/* app */

#downloadsdiv, #hubacctdiv, .annoscrdiv { max-width:400px; margin:10px auto;
  text-align:center; }
.annoscrdiv { padding-bottom:20px; }
.annoscrdiv div { padding:10px; }
.annoscrdiv img { max-width:300px; }
#featurelistdiv { text-align:left; }
#featurelistdiv ul { list-style:url("../img/sixteenthnotebullet.png"); }

#downloadsdiv { text-align:center; min-width:340px; padding:5px 0px; }
.downloadsline div { display:inline-block; padding:24px 18px; font-size:larger;
  text-align:center; vertical-align:top; }
.downloadsline div span { font-size:small; color:#999; }
.downloadlinkspan { font-size:large; font-weight:bold; display:inline-block;
  padding:4px 0px; }
#hubaccountcontentdiv { margin:0px 10px; width:340px;
  display:inline-block; padding:8px; }

#dloverlaydiv { background:#ffd2bc; border-radius:14px; padding:10px;
  border:2px solid #333; box-shadow: 2px 3px 4px #2f2b00;
  position:absolute; top:0px; left:0px; display:none; }
#dloverxdiv { float:right; }
#dlovertxtdiv { padding-top:20px; }
.platoptdescdiv { font-size:small; padding:5px 0px 16px; }
.featureico { height:30px; max-height:30px; }

/* -------------------- */
/* extra */

#marqueediv, #marqueeplaceholderdiv { font-size:large; font-weight:bold;
  text-align:center; color:#e0550f; }
#splashdiv p { padding:5px; margin:5px 0px 18px 0px; }
#splashdiv div { padding:10px; }
#whatisdiggerdiv, #moreaboutdiggerdiv, #usingdiggerdiv {  }
#whatisdiggerdiv {  }
#moreaboutdiggerdiv { margin-top:24px; }
#usingdiggerdiv { padding:5px; margin:0px 10px 10px 10px; }
#rentvsowndiv { color:#af3c01; font-size:medium; display:table; 
  margin:10px auto; }
#rentvsowndiv table tr th { font-style:italic; text-align:left;
  padding:0px 0px 8px 8px; }
#rentvsowndiv table tr th:first-child { text-align:right; }
#rentvsowndiv table tr td { padding-right:5px; }
#rentvsowndiv table tr td:first-child { text-align:right; }
.versusspan { font-style:small; font-style:italic; font-weight:normal; }
#spotauthdiv { font-size:small; }
#splashblockdiv { background-image:url("../img/white60percent.png");
  border-radius:14px; text-align:center; margin:0px auto; display:table;
  min-width:280px; }
#streamcloseline { font-size:small; margin-bottom:20px; }
.streamtypespan { font-size:large; font-weight:bold; }


/* -------------------- */
/* slides */

.sldimg, .sldselimg { max-height:30px; margin:0px 16px 8px 0px; }
.sldimg { opacity:0.3; }
#slidepgdiv { text-align:center; }
#slidedispdiv { position:relative; max-width:400px; margin:0px auto;
  padding:0px; } /* overlays are absolute positioned, so no pad */
#slidedispdiv img { width:100%; max-width:400px; transition:opacity 0.5s; }
#prevslide, #currslide { position:absolute; top:0px; left:0px; }

#suppdiv, #principdiv { text-align:left; max-width:600px; margin:auto; }
#collabdiv h4 { text-align:center; text-shadow:none; margin-bottom:4px;
  font-style:italic; }
#collabdiv img { max-width:340px; display:block; margin:auto;
  border:1px solid #333; box-shadow:1px 1px 1px #2f2b00; }
#collabdiv p { max-width:600px; text-align:center; margin:8px auto 24px;
  text-shadow:none; font-size:medium; font-style:italic; }

/* -------------------- */
/* beta test program display */

#btptitlediv { font-size:x-large; font-weight:bold; padding:10px;
  display:inline-block; }
#btpcontentdiv { padding:10px; clear:both; }
#btphellodiv { font-weight:bold; padding-bottom:8px; }
#btpnavdiv, #btpdetdiv { padding:8px 0px; }
#btpcpdiv { font-size:small; padding-top:8px; }
.btqcontdiv { padding:5px 0px; }
.btqerrdiv { font-size:small; color:red; }
.btqradiocontdiv { text-align:center; }
.btqrangecontdiv { display:grid; grid-auto-flow:column; grid-auto-columns:1fr; }
.btqrangecelldiv { text-align:center; }


/* -------------------- */
/* marketing message display */

#mmdcontentdiv { min-width:360px; max-width:600px; min-height:360px;
  background:#ffd2bc; padding:10px; clear:both; margin:60px auto;
  border-radius:14px; }
.mktmsglist li { margin-top:4px; }
.appstorecodebox { border:2px solid black; display:table; margin:auto;
  padding:20px; font-size:x-large; font-weight:bold; }

/* -------------------- */
/* songfinder */

#sgfdiv { padding:10px; display:table; margin:auto; }
#songfindertitlediv { font-size:x-large; font-weight:bold; }
#sgfsongiddiv { padding:10px; margin:10px auto 10px 0px; display:table;
  background-image:url("../img/white60percent.png"); }
.sgfattr { text-align:right; font-style:italic; padding-right:6px;
  opacity:0.6; }
.sgflink { display:inline-block; padding-right:10px; }
.sgfsvcline { }
.sgfsvcname { font-weight:bold; padding:8px 4px 8px 0px; }


/* -------------------- */
/* actions */

#hubactionheaderdiv { text-align:center; padding:10px 0px; position:relative; }
#homelinkdiv { position:absolute; left:0px; top:0px; }
.hubacttitleimg { max-height:64px; }
#hubactiontitlediv { display:inline-block; padding-left:64px; min-height:64px;
  font-size:x-large; font-weight:bold; }
#hubactioncontentdiv { max-width:600px; margin:auto; }

#loginvisualelementsdiv { 0px 2px 0px 10px; }
.onelineformdiv { text-align:right; }
#acctmsglinediv { margin:5px 5px 0px 64px; }
#acctmsglinediv h1 { font-size:medium; }
#loginb { font-size:small; }
#loginlinksdiv { padding:6px 0px 0px 0px; text-align:right; }
#loginlinksdiv a { padding:0px 10px; font-size:small; }
#topactiondiv { display:table; margin:0px 10px 0px auto; min-height:53px; }
.acctactdiv { padding:5px; text-align:center; }
.forminlab { display:inline-block; width:80px; text-align:right;
  padding:0px 5px 0px 0px; font-size:small; font-style:italic; }

/* -------------------- */
/* docs */
#hpgoverlaydiv { position:absolute; top:0px; left:0px; width:100%; }
#docdispbodydiv { min-height:100%; max-height:100%; }
.paradiv { margin:18px 0px; }
.docicodiv { display:inline-block; background:#ffab00;
  width:28px; height:28px; border-radius:14px; }
.docicodiv img { width:28px; height:28px; }

/* -------------------- */
/* reports */

#reptoplinediv { height:52px; font-size:48px; font-weight:bold;
  padding:10px 0px 0px 70px; margin-top:-10px; }
#reptitlelinediv { font-size:20px; font-style:italic; }
#reportoutercontentdiv { min-height:90vh; }
#reportinnercontentdiv { padding:10px; }  /* adjusted in login.js */
.datevalspan { font-size:small; }
.repsummarylabelspan { padding-right:5px; font-size:medium; font-style:italic;
  font-weight:bold; }
#repsongtotaldiv { font-size:small; padding:10px 0px; text-align:center; }
