html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#111111;
  height: 100%;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
}

#sitebody {
  background:#ffc2a4;
  background:linear-gradient(#ffc2a4, #ff9c6b);
  min-height:100vh;
}

A:link {text-decoration:none; color:#0590b8; }
A:visited {text-decoration:none; color:#0590b8; }
A:active {text-decoration:none; color:#0590b8; }
A:hover {text-decoration:underline; color:#3bd4ff; }

img { border:0px; vertical-align:middle; }

button, .buttonstyle { border: 2px solid #666666; border-radius:8px;
  cursor:pointer; background:#ffe155; box-shadow:1px 1px 1px #2f2b00;
  padding:0px 3px; font-size:large; font-weight:bold; }
.ghostbutton { background:none; }

#outercontentdiv { }
#contentdiv { position:relative; width:80%; margin:0px auto; }
#textcontentdiv { margin:0px 10px 10px 10px; }
#vidcontentdiv { text-align:center; }

/* -------------------- */
/* general */

.formbuttonsdiv { text-align:center; margin:5px 0px 0px 0px; }
.tcgcinactive { opacity:0.5; }
#contactdiv { text-align:center; margin:10px 0px 0px 0px; }
#taglinediv { text-align:center; margin:10px 0px; font-style:italic;
  font-weight:bold; }

/* -------------------- */
/* splash */

#logodiv { position:absolute; top:30px; left:-12px; }
#logodiv img { max-height:64px; }
#marqueediv { margin-left:32px; font-weight:bold; font-size:large;
  text-align:center; color:#cf3838; }
#splashdiv { background-image:url("../img/bglogo.png");
  background-repeat:no-repeat; background-size:contain;
  background-position: 10% 84%; }
#splashdiv p { padding:5px; margin:5px 0px 18px 0px; }
#splashdiv div { padding:5px; }
#spotauthdiv { font-size:small; }
#splashblockdiv { background-image:url("../img/white60percent.png");
 padding:0px 0px 10px 0px; text-align:center; margin:0px auto; display:table;
 border-radius:14px; }
#fileorstreamchoicediv { text-align:center; word-spacing:6px; }
.spchspan { font-size:x-large; font-weight:bold; }
#downloadsdiv { text-align:center; margin-bottom:20px; }
#downloadsdiv div { display:inline-block; padding:10px; text-align:center;
  vertical-align:top; }
#downloadsdiv div span { font-size:small; color:#999; }
#wsadiv, #streamcloseline { font-size:small; margin-bottom:20px; }
.streamtypespan { font-size:large; font-weight:bold; }

/* -------------------- */
/* slides */

#slidepgdiv { text-align:center; }
#slidedispdiv { position:relative; max-width:400px; margin:0px auto; }
#slidedispdiv img { width:100%; max-width:400px; transition:opacity 0.5s; }
#prevslide, #currslide { position:absolute; top:0px; left:0px; }
#rtfmspan { font-size:small; }

#suppdiv, #principdiv { text-align:left; max-width:600px; margin:auto }


/* -------------------- */
/* songfinder */

#sgfdiv { padding:10px; display:table; margin:auto; }
#songfindertitlediv { font-size:x-large; font-weight:bold; }
#sgfsongiddiv { padding:10px; margin:10px auto 10px 0px; display:table;
  background-image:url("../img/white60percent.png"); }
.sgfattr { text-align:right; font-style:italic; padding-right:6px;
  opacity:0.6; }
.sgflink { display:inline-block; padding-right:10px; }
.sgfsvcline { }
.sgfsvcname { font-weight:bold; padding:8px 4px 8px 0px; }


/* -------------------- */
/* actions */

#loginvisualelementsdiv { 0px 2px 0px 10px; }
.onelineformdiv { text-align:right; }
#acctmsglinediv { margin:5px 5px 0px 64px; }
#acctmsglinediv h1 { font-size:medium; }
#loginb { font-size:small; }
#loginlinksdiv { padding:6px 0px 0px 0px; text-align:right; }
#loginlinksdiv a { padding:0px 10px; font-size:small; }
#topactiondiv { display:table; margin:0px 10px 0px auto; min-height:53px; }
.acctactdiv { padding:5px; text-align:center; }
.forminlab { display:inline-block; width:80px; text-align:right;
  padding:0px 5px 0px 0px; font-size:small; font-style:italic; }
